@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'outfit';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../../public/fonts/Outfit.ttf) format('ttf');
    }

    ;

    @font-face {
        font-family: 'switzer';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../../public/fonts/Switzer.ttf) format('ttf');
    }
}